
html,body{
background-image: url(https://img.freepik.com/free-photo/smooth-dark-blue-with-black-vignette-studio-well-use-as-background-business-report-digital-website-template_1258-748.jpg);

background-size: cover; 
/* cover - Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
/* contain - Resize the background image to make sure the image is fully visible */
background-repeat: no-repeat;
min-height: 100vh;
width: 100%;
font-family: 'Numans', sans-serif;

}

.bg-faded{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
}

.nav-item a{

    font-weight: bold;
}

.second_body {
    background-color: #f1f1f1;
    padding: 0.01em 16px;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    /*margin: 20px 0;*/
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    min-height: 80%;
    font-family: 'Numans', sans-serif;
}

.second_body h3 {
    font-family: 'Numans', sans-serif;
    margin-left: 10mm;
    margin-top: 5mm;
    font-weight: bold;
    font-size: 20pt;
    color: #050442;
}



.table-bordered tr{
    background-color: white
}

.table-bordered td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#999;color:#444;background-color:#F7FDFA;}
.table-bordered th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#999;color:#fff;background-color:rgb(24, 96, 124);}

